<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/org.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/custom.css">
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/img/favicon.ico">

  </head>
  <body>
    <div class="container">

      <!-- logo -->
      <div class="logo-icon-wrapper center">
        <a href="{{ BASE_PATH }}/">
          <canvas id="logo-icon" width="650" height="230"></canvas></a>
      </div>

      <!-- content  -->
      {{ content }}

      <!-- footer -->
      <footer>
        <div class="row"><div class="span2 offset2"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a></div><div class="span6"><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">A+B PROBLEM</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Zhitao Gong</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</div></div>
      </footer>

    </div> <!-- container -->

    <script type="text/javascript"
            src="{{ ASSET_PATH }}/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript"
            src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/logo-icon.js"></script>

  </body>
</html>
