
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{page.description}}">
    {% else %}
    <meta name="description" content="{{site.description}}">
    {% endif %}
    <meta name="author" content="Zhita Gong">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/AC-Report/assets/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/AC-Report/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/AC-Report/assets/css/org.css">
    <link rel="stylesheet" href="/AC-Report/assets/css/custom.css">
    <link rel="shortcut icon" href="/AC-Report/assets/img/favicon.ico">

  </head>
  <body>
    <div class="container">
