<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">112 - Tree Summing</h2>
<div class="outline-text-2" id="text-1">


<p>
 <span class="timestamp-wrapper"> <span class="timestamp">2012-10-03 Wed 20:02</span></span><br/>
</p>
<p>
  <a href="http://acm.uva.es/p/v1/112.html">http://acm.uva.es/p/v1/112.html</a>
</p>

</div>

<div id="outline-container-1-1" class="outline-3">
<h3 id="sec-1-1">Summary</h3>
<div class="outline-text-3" id="text-1-1">


<p>
  Just parse the S-expression into a tree and find all the sums in the
  tree.
</p>
</div>

</div>

<div id="outline-container-1-2" class="outline-3">
<h3 id="sec-1-2">Optimizations</h3>
<div class="outline-text-3" id="text-1-2">


<p>
  Actually, we don't have to actually build the tree. What we want is
  all the sums of root-to-leaf. We can traverse the istream in a depth
  first fashion and find out all the sums along the way without
  actually building the tree.
</p>
</div>

</div>

<div id="outline-container-1-3" class="outline-3">
<h3 id="sec-1-3">Gotchas</h3>
<div class="outline-text-3" id="text-1-3">


<p>
  Integers can be negative and there might be spaces between negative
  sign and the number. So be careful about negative integers like <code>-   1</code> or <code>-1</code>.
</p></div>
</div>
</div>
