<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">1001 Exponentiation</h2>
<div class="outline-text-2" id="text-1">


<p>
 <span class="timestamp-wrapper"> <span class="timestamp">2012-11-02 Fri 16:51</span></span><br/>
</p>
<p>
  <a href="http://poj.org/problem?id=1001">http://poj.org/problem?id=1001</a>
</p>

</div>

<div id="outline-container-1-1" class="outline-3">
<h3 id="sec-1-1">Summary</h3>
<div class="outline-text-3" id="text-1-1">


<p>
   Two things to implement:
</p>
<p>
   Manually multiply two integers in string form. There are many
   Multiplication Algorithms, just choose one you like :) Do Binary
   Exponentiation, i.e. Expenetiatiion By Squaring. Which is clearly
   illustrated here: The fastest exponentiations to perform are
   exponentiations of the type a2n, that is, where the exponent is a
   power of two. This is because you can find these powers by
   repeatedly squaring the number. So I can find 52 with only one
   multiplication, 54 = (52)2 with only two, 58 = ((52)2)2 in three,
   and so forth. This leads to the method of binary exponentiation:
</p>
</div>

</div>

<div id="outline-container-1-2" class="outline-3">
<h3 id="sec-1-2">Explanation</h3>
<div class="outline-text-3" id="text-1-2">


<p>
   \(\forall o \in \mathcal O\)
</p>
<p>
   Write the exponent as a sum of powers of two.  Find the base to each
   of the powers of two that appear in the exponent.
</p>
</div>

</div>

<div id="outline-container-1-3" class="outline-3">
<h3 id="sec-1-3">Optimizations</h3>
<div class="outline-text-3" id="text-1-3">


<p>
   Multiply those
</p>
</div>

</div>

<div id="outline-container-1-4" class="outline-3">
<h3 id="sec-1-4">Gotchas</h3>
<div class="outline-text-3" id="text-1-4">


<p>
   powers together.  To illustrate with 521:
</p></div>
</div>
</div>
