
html,body {
    font: normal normal normal 16px/1.5em Sans-serif;
    color: #839496;
    background: #002b36;
}

pre {
    font-family: monospace;
    background: #002b36;
    border: 1pt solid #AEBDCC;
    padding: 5pt;
    font-size: 90%;
}

body {
    color: #839496;
    background-color: #002b36;
}

a {
    color: #b58900;
}
a:visited {
    color:#7F6000;
}

.org-date {
    /* org-date */
    color: #268bd2;
    text-decoration: underline;
}
.org-level-1 {
    /* org-level-1 */
    color: #cb4b16;
    background-color: #002b36;
}
.org-link {
    /* org-link */
    color: #b58900;
    font-weight: bold;
    text-decoration: underline;
}

.org-list-dt {
    /* org-list-dt */
    font-weight: bold;
}

.rainbow-delimiters-depth-1 {
    /* rainbow-delimiters-depth-1-face */
    color: #2aa198;
}

div.outline-2 h2 {
    color: #cb4b16;
}

div.outline-3 h3 {
    color: #859900;
}

div.outline-4 h4 {
    color: #268bd2;
}

.footref,.footnum{
    color:#d33682
}
.footref:visited,.footnum:visited{
    color:#7F204E
}

#postamble{
    font-size:smaller;
    color: #586e75;
    line-height:.6em;
    border-top: 1px solid #586e75;
    margin-top:30px;
    padding:10px 0;
}

.timestamp{
    font-family:monospace;
    color:#268bd2;
    text-decoration:underline;
    font-size:smaller;
}
.timestamp:before{
    content:"["
}
.timestamp:after{
    content:"]"
}

.timestamp-kwd{
    font-family:monospace;
    color: #586e75;
    font-size:smaller;
    font-weight: bold;
}

.tag{
    font-family:monospace;
    font-weight:bold;
    font-size:smaller;
    background:#002b36;
    float:right;
    margin-right:60%
}

.post-title-group a {
    font-size: 21px;
    font-weight: 300;
    padding-right: 5px;
    text-decoration: none;
}
.post-title-group a,.post-title a:visited {
    color:#b58900;
}
.post-title-group {
    cursor:auto;
}

.tabs-left>.nav-tabs .active>a, .tabs-left>.nav-tabs .active>a:hover, .tabs-left>.nav-tabs .active>a:focus {
    border: 1px solid #001A20;
    background: #001A20;
}
.tabs-left>.nav-tabs{
    border-right: 1px solid #001A20;
}

.tabs-left>.nav-tabs>li>a:hover, .tabs-left>.nav-tabs>li>a:focus{
    background: #001A20;
    border: 1px solid #001A20;
}

li {line-height:1.5em}
code {
    background: #001A20;
    border: 1px solid #001A20;
    font-size: 14px;
}
