
html,body {
    font: normal normal normal 16px/1.3em Sans-serif;
    color: #839496;
    background: #002b36;
}

pre {
    font-family: monospace;
    background: #002b36;
    border: 1pt solid #AEBDCC;
    padding: 5pt;
    font-size: 90%;
}

div.outline-2 h2 {
    color: #cb4b16;
}

div.outline-3 h3 {
    color: #859900;
}

div.outline-4 h4 {
    color: #268bd2;
}

.footref,.footnum{
    color:#d33682
}
.footref:visited,.footnum:visited{
    color:#7F204E
}

#postamble{
    font-size:smaller;
    color: #586e75;
    line-height:.6em;
    border-top: 1px solid #586e75;
    margin-top:30px;
    padding:10px 0;
}

a {
    color: #b58900;
    font-weight: bold;
    text-decoration: underline;
}

a:visited {
    color:#7F6000;
}

.timestamp{
    font-family:monospace;
    color:#268bd2;
    text-decoration:underline;
    font-size:smaller;
}
.timestamp:before{
    content:"["
}
.timestamp:after{
    content:"]"
}

.timestamp-kwd{
    font-family:monospace;
    color: #586e75;
    font-size:smaller;
    font-weight: bold;
}

.tag{
    font-family:monospace;
    font-weight:bold;
    font-size:smaller;
    background:#002b36;
    float:right;
    margin-right:60%
}

@media all {
    #table-of-contents {
        font-size: 10pt;
        position: fixed;
        right: 0em;
        top: 0em;
        color: #dcdccc;
        -webkit-box-shadow: 0 0 1em #777777;
        -moz-box-shadow: 0 0 1em #777777;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        text-align: right;
        /* ensure doesn't flow off the screen when expanded */
        max-height: 80%;
        overflow: auto;
    }

    #table-of-contents h2 {
        font-size: 10pt;
        max-width: 8em;
        font-weight: normal;
        padding: 0.05em 0.5em;
    }

    #table-of-contents #text-table-of-contents {
        display: none;
        text-align: left;
    }

    #table-of-contents:hover #text-table-of-contents {
        display: block;
        padding: 0.5em;
        margin-top: -1.5em;
    }
}

@media screen {
    #table-of-contents {
        float: right;
        border: 1px solid #CCC;
        max-width: 50%;
        overflow: auto;
    }
} /* END OF @media screen */
